/*http://jtauber.github.io/articles/css-hexagon.html*/
/*The 30:52 ratio in the border widths is approximately 1:√3 which is ratio required for a hexagon.*/
/*First Hexagon*/
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 40px solid #6C6;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    position: absolute;
    top: -40px;
}
.hex {
    margin: 40px 3px 3px 0;
    width: 140px;
    height: 80px;
    background-color: #6C6;
    position: relative;
    float: left;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -40px;
    border-top: 40px solid #6C6;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}
.hex-row {clear: left; }
.hex-row.even {margin-left: 71px; }