---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<p>Hello world! This is my first HTML5 Boilerplate.</p>
<div class="hex-row">
	<div class="hex"></div>
	<div class="hex"></div>
	<div class="hex"></div>
</div>
<div class="hex-row even">
	<div class="hex"></div>
	<div class="hex"></div>
	<div class="hex"></div>
</div>
<div class="hex-row">
	<div class="hex"></div>
	<div class="hex"></div>
	<div class="hex"></div>
</div>